<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Alumno</title>
</head>
<body>
    {% extends "padre.html" %}
    {% load static %}

    {% block contenido %}  
    
        <h2>Buscar Alumno</h2>
        <form action="busqueda" method="GET">
            <p>DNI</p>
            <input type="number" name="dni" id="dni">
            <button class="btn btn-primary btn-sm">Buscar</button>
        </form> 


    {% endblock %}
    
</body>
</html>