<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Alumno</title>
</head>
<body>
    {% extends "padre.html"  %}

    {% load static %}
    
    
    {% block contenido %}
        <form action="{% url 'editar_alumno' alumno.id %}" method="POST">
            {% csrf_token %}
            <p>Nombre</p>
            {{form.nombre}}
            <p>Apellido</p>
            {{form.apellido}}
            <p>Correo</p>
            {{form.correo}}
            <p>Dni</p>
            {{form.dni}}
            <p>Curso</p>
            {{form.curso}}
            <button class="btn btn-primary btn-sm">Enviar</button>
        </form>
    
    {% endblock %}
    
</body>
</html>