<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Curso</title>
</head>
<body>
    {% extends "padre.html"  %}

    {% load static %}
    
    
    {% block contenido %}
        <form action="{% url 'editar_curso' curso.id %}" method="POST">
            {% csrf_token %}
            <p>Nombre</p>
            {{mi_formulario.nombre}}
            <p>Camada</p>
            {{mi_formulario.camada}}
            <button class="btn btn-primary btn-sm">Enviar</button>
        </form>
    
    {% endblock %}
    
</body>
</html>