<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Alumno</title>
</head>
<body>

    {% extends "padre.html" %}
    {% load static %}
    
    {% block contenido %}  
    <main class="container">
        {% if alumnos %}
        <h1 class="text-center">Se encontro el siguiente alumno</h1>
            <ul>
            {% for alumno in alumnos %}
                <li>Nombre: {{alumno.nombre}}</li>
                <li>Apellido: {{alumno.apellido}}</li>
                <li>Correo: {{alumno.correo}}</li>
                <li>Curso: {{alumno.curso}}</li>
            {% endfor %}
            </ul>
        {% else %}
    
            <h1 class="text-center">No se encontraron alumnos con este dni</h1>
        {% endif %}
    </main>
    
    {% endblock %}
    
</body>
</html>