<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "padre.html" %}
    {% load static %}

    {% block contenido %}  
    <main class="container">
        {% if cursos %}
  
        <table class="table">
            <thead>
                <h1 class="text-center">Se encontraron los siguientes cursos</h1>
                <tr>
                    <th>Nombre</th>
                    <th>Camada</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                    <tr>
                        <td>{{ curso.nombre }}</td>
                        <td>{{ curso.camada }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h1 class="text-center">No se encontraron cursos con ese nombre</h1>
        {% endif %}
    </main>


    {% endblock %}
        
    </body>
</html>